*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
}

#switch
{
display: none;
}

#switch:checked ~ .content
{
	animation: 2s animate;
	transform: rotateY(180deg);
}


.card
{
	width: 350px;
	height: 600px;
	perspective: 1500px;
	margin: 0 auto;
}

.content
{
	width: 380px;
	height: 650px;
	transform-style: preserve-3d;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	transition: transform 1s cubic-bezier(0.75, 0, 0.85, 1);
	border-radius: 8px;
}

.front, .back
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	perspective: 1500px;
	border-radius: 8px;
}

.back
{
transform: rotateY(180deg);
}

.inner
{
	transform: translateZ(80px) scale(1);
	margin-left: 75px;
	padding-top: 25px;
	 margin-top: 20px
}

.switchback
{
	position: absolute;
	top: 540px;
	font-size: 18px;
	margin-left: -9px;
	width:100%;
}

.addButton
{
	margin-left: -10px;
	margin-top: 5px;
}

.main-nav
{
	position: relative;
	min-height: 50px;
	margin-bottom:20px;
	margin-top:50px;
	display:flex;
	
	
}
.navbar-header
{
	width:900px;
	margin: 0 auto;
	background: #f8f8f8;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;

}
.navbar-header a
{
	color: #777;
	background-color: transparent;
	padding: 15px ;
	text-decoration: none;
}

.navbar-header a:hover
{
	color: #5e5e5e;
	font-size: 18px;
	line-height: 20px;
	background-color: transparent;
}

.navbar-brand
{
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}