
.wrapper
{
    width:1024px;
    margin: 0 auto;

}
.form-top
{
    display: block ;
    width: 500px; 
    margin:0 auto;
    border: 1px solid #A9A9A9;
    border-radius: 10px;
    padding:30px 50px 50px 50px;
    background: rgba(238, 211, 208, .8);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,.9);
   
}
.form-group 
{
    display: block;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

h2
{
    text-align: center;
    display: block;
    font-family: "Trirong", serif; 
    font-weight: 400;
}

.emaillabel
{
  margin-left: -180px;
}

.pwlabel
{
    margin-left: -145px;
}

.emaillabel2
{
  margin-left: -80px;
}

.IDlabel
{
    margin-left: -70px;
}
.fnlabel, .lnlabel, .tllabel
{
    margin-left: -60px;
}

.center-margin
{
    width: 600px; 
    margin:0 auto;
}

.addButton
{
    position: relative;
    top: -210px;
    left: 680px;
}

.newInputBox
{
display: inherit;
position: relative;
left: 148px;
margin-top: 5px;
}