.wrapper-center
{
    margin: 30px auto;
    width: 1024px;
}
.form-top
{
    display: block ;
    
    width: 500px; 
    margin:0 auto;
    border: 1px solid #A9A9A9;
    border-radius: 10px;
    padding:30px 50px 50px 50px;
   
}
.form-group 
{
    display: block;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
    width: 600px;
}

h2{
    text-align: center;
    display: block;
    font-family: "Trirong", serif;
    
    font-weight: 400;
}
label 
{
    
    text-align: left;
    display: block;
    font-family: "Trirong", serif;
    margin-bottom: 5px;
    font-weight: 300;
    color: #333;
}

input[type="text"]
{
    margin-left: -345px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width:45%;
}

input[type="password"]
{
    margin-left: -345px;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width:45%;
}

.btn
{
    margin-left: -320px;
    font-family: "Trirong", serif;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 24px;
    width: 50%;
    height: 60px;
    background: #AA0000;
    border: 1px;
    border-radius: 4px;
    padding: 15px;  
}

.btn:hover
{
   opacity: 0.7; 
}

.body
{
 background-color: #ffffff;
}

.center-margin
{
    width: 600px; 
    margin:0 auto;
}