*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Trirong", serif;
}

body
{
	background: url("../images/rocky.png");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 0 20px;
}
.project-name
{
  position: absolute;
  top: 10px;
  color: whitesmoke;
  font-size: 25px;
  font-family: "Trirong", serif;
  background: rgba(255,255,255,0.3);
  #writing-mode: sideways-lr;
  backdrop-filter: blur(15px);
  border-radius: 10px;
   width: 100S%;
   z-index: 1;
}

.project-name p
{
margin: 0 50px;
 padding:10px;
 
}

.form-container
{
	diplay: flex;
	width: 1000px;
	height: 243px;
	border: 3px solid rgba(255,255,255,0.3);
	border-radius: 30px;
	backdrop-filter: blur(10px);
	
}

.col-1
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 55%;
	background: rgba(255,255,255,0.3);
	backdrop-filter: blur(15px);
	border-radius: 25px 30% 20% 25px;
	transition: border-radius .3s;
}

.image-layer
{
	position: relative;
}

.form-image-main
{
 width: 200px;
}

.form-image
{
	position:absolute;
	left: 0;
	top: 10px;
	width:200px;
}

.featured-words
{
	text-align: center;
	color: #fff;
	width: 300px;
	font-weight: 600;
}

.col-2
{
	position: absolute;
	width: 45%;
	padding: 20px;
	top:15px;
	left:600px;
}

ul 
{
  position:absolute;
  top:60px;
  left:170px;
  transform:translate(-50%, -50%);
  display:flex;
  margin:0;
  padding:0;
}

ul li 
{
  list-style:none;
  margin:45px 25px 25px 10px;

}

ul li a .fa 
{
  font-size: 40px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

ul li a span 
{
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
  font-family: "Trirong", serif;
}

ul li a 
{
  text-decoration: none;
  display:absolute;
  display:block;
  width:150px;
  height:80px;
  background: #fff;
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  border-radius: 4px;
}
ul li a:before 
{
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
  border-radius: 4px;
}
ul li a:after 
{
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
  border-radius: 4px;
}

ul li a:hover 
{
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

ul li:hover .fa 
{
  color:#fff;
}

ul li:hover span 
{
  color:#fff;
}

ul li:hover:nth-child(1) a
{
  background: #B22222;
}
ul li:hover:nth-child(1) a:before
{
  background: #B22222;
}
ul li:hover:nth-child(1) a:after
{
  background: #8B0000;
}

ul li:hover:nth-child(2) a
{
  background: #1E90FF;
}
ul li:hover:nth-child(2) a:before
{
  background: #1E90FF;
}
ul li:hover:nth-child(2) a:after
{
  background: #191970;
}

.welcomesection-ul
{
  top: 350px;
  left: 165px;
  color: white;
  border-radius: 16px;
  border:1px solid aliceblue;
  box-shadow: 10px 10px 10px rgba(0,0,0,.8);
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(15px);
  display: inline-block;
  width: auto;

}
.welcomesection-ul2
{
  top: 395px;
  left: 600px;
  backdrop-filter: blur(90px);
  width: auto;
  
}

.welcomesection-li
{
  margin: 0 25px 0 10px;
  font-size: 30px;
  font-family: "Trirong", serif;
}

.welcomesection-li2
{
  margin: 0 15px 0 45px;
  font-size: 17px;
  text-decoration: underline;
}

.welcomesection-li3
{
  margin: 0 10px 0 10px;
  font-size: 20px; 
}


.welcomesection-li2:last-child
{
  margin-bottom: 10px;
}